
<div class="text-center">
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenido {{user.name}}</h1>
        
        {{#eq user.role "ADMIN"}}
        <!-- If user is ADMIN -->
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Productos</h5>
                        <p class="card-text">Administrar productos</p>
                        <a href="/products" class="btn btn-primary btn-block">Ir a Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Product</h5>
                        <p class="card-text">Add a new product</p>
                        <a href="/product/add" class="btn btn-primary btn-block">Add Product</a>
                    </div>
                </div>
            </div>
        </div>
        {{/eq}}
        
        <!-- If user is CLIENT -->
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Productos</h5>
                        <p class="card-text">Mostrar productos disponibles</p>
                        <a href="/products" class="btn btn-primary btn-block">Ir a Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ver Carritos</h5>
                        <p class="card-text">Ver carritos no confirmados</p>
                        <a href="/carts" class="btn btn-primary btn-block">Ir a Carritos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ver Tickets</h5>
                        <p class="card-text">Ver tickets de compras</p>
                        <a href="/tickets" class="btn btn-primary btn-block">Ir a Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mi Perfil</h5>
                        <p class="card-text">Revisar datos personales</p>
                        <a href="/profile" class="btn btn-primary btn-block">Ir al Perfil</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Terminar Session</h5>
                        <p class="card-text">Salir</p>
                        <a href="/users/logout" class="btn btn-primary btn-block">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script type="module" src="/js/home.js"></script>