<div class="text-center">
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenido {{user.first_name}} - Rol: {{user.role}}</h1>
        <div class="row justify-content-center">

            {{#ifRole user.role "admin"}}
            <!-- If user is ADMIN -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Listar Usuarios</h5>
                        <p class="card-text">Administrar los usuarios</p>
                        <a href="/users/list" class="btn btn-primary btn-block">Ver Listado</a>
                    </div>
                </div>
            </div>
          
            {{/ifRole}}

            {{#ifRole user.role "admin" "premium"}}
            <!-- If user is ADMIN -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Listar Productos</h5>
                        <p class="card-text">Administrar los productos</p>
                        <a href="/products/list" class="btn btn-primary btn-block">Ver Listado</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Agregar Producto</h5>
                        <p class="card-text">Nuevo inventario</p>
                        <a href="/product/add" class="btn btn-primary btn-block">Crear</a>
                    </div>
                </div>
            </div>
            {{/ifRole}}

            {{#ifRole user.role "user" "premium"}}
            <!-- If user is CLIENT -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Productos</h5>
                        <p class="card-text">Mostrar productos disponibles</p>
                        <a href="/products" class="btn btn-primary btn-block">Ir a Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ver Tickets</h5>
                        <p class="card-text">Ver tickets de compras</p>
                        <a href="/tickets" class="btn btn-primary btn-block">Ir a Tickets</a>
                    </div>
                </div>
            </div>
            {{/ifRole}}

            {{#ifRole user.role "user"}}
            <!-- If user is CLIENT -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Premium!</h5>
                        <p class="card-text">Completar datos para alcanzar el nivel</p>
                        <a href="/change_role_premium" class="btn btn-primary btn-block">Ir a Cambio de Rol</a>
                    </div>
                </div>
            </div>
            {{/ifRole}}

            {{#ifRole user.role "premium"}}
            <!-- If user is CLIENT -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic!</h5>
                        <p class="card-text">Completar datos para alcanzar el nivel</p>
                        <a href="/change_role_user" class="btn btn-primary btn-block">Ir a Cambio de Rol</a>
                    </div>
                </div>
            </div>
            {{/ifRole}}

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mi Perfil</h5>
                        <p class="card-text">Revisar datos personales</p>
                        <a href="/profile" class="btn btn-primary btn-block">Ir al Perfil</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contraseña</h5>
                        <p class="card-text">Gestion</p>
                        <a href="/users/password_change" class="btn btn-primary btn-block">Cambiar Contraseña</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Terminar Session</h5>
                        <p class="card-text">Salir</p>
                        <a href="/users/logout" class="btn btn-primary btn-block">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script type="module" src="/js/home.js"></script>